h4 {margin: 0;}
h5 {font-weight: bold!important;}
.modal-sm {width: 500px;}
code {color: #3f6887;background-color: #eaf2f7;}
.well {padding-bottom: 0;}
.control-label {font-weight: normal;}
.table {font-size: 0.85em; border-bottom: 1px;}
.table > thead > tr > th {font-weight: normal!important;}

.dialogbox {display:none;}
.btn-pad-right {margin-right: 5px!important;}
#allBooks {display:none;}
.addForm {width:350px;}
#bodyfield {width: 100%; height: 100%; padding: 30px; max-width: 800px;}
label {float: none; font-weight: normal;}
.buttonRemove {padding: 0 5px 2px; font-size: 10px; margin: 7px 0 0 10px!important;}
.units-list {width: 100%; margin: 10px 0 30px 0;}
table.units-list input {margin: 8px 10px 8px 0;}
h4.modal-title {padding: 20px 0 15px 0;}
.unstyled-inner {padding-left: 27px;}
.modal-bottom-fixed {top: auto; bottom: 0;}
.footer {text-align: center;padding: 50px 0 15px 0;}
.footer a {font-size: 0.9em;color: #ccc;}
.footer li {padding: 0 20px;}
